/* Colours */
$colour-cherry: #900B54;
$colour-background-light: #E4EfE9;
$colour-background-dark: #93A5CF;
$colour-form: #f5f5f5;

/* Font */
$font-heading: 'Unica One', cursive;
$font-text: 'Montserrat', sans-serif;

/* Styles */
$center-element: 0 auto;

/* Mixins */
@mixin universal-styles {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/* ---- Webpage styling ---- */
* {
    @include universal-styles;
}

body {
    max-width: 1140px;
    margin: $center-element;
    padding: 30px;
    background-image: 
    linear-gradient(
        to right bottom,
        rgba($colour-background-light, 0.8),
        rgba($colour-background-dark, 0.8)),
        url("../img/jason-rosewell-ASKeuOZqhYU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-text;
}

h1, h2, p {
    text-align: center;
}

p {
    margin-bottom: 6px;
}

h1, h2 {
    font-family: $font-heading;
    font-size: 50px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.instructions {
    margin-bottom: 10px;
    font-style: italic;
}

/* ---- Form Section ---- */

.section-form {
    margin-bottom: 15px;
}

.form {
    margin: $center-element;
    width: 75%;

    &__data {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__textarea {
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
    }

    &__label {
        margin-right: 10px;
        padding: 4px;
    }

    &__input {
        opacity: .7;
        padding: 5px;
        width: 30%;
        font-family: inherit;
        border-radius: 2px;
        border: none;
        font-size: 14px;
        width: 250px;
        color: $colour-cherry;
        font-weight: bold;
        box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.53);
        
        &:focus {
            outline: none;
        }
    }

    &__textarea-lyrics {
        opacity: .7;
        font-family: inherit;
        font-size: 13px;
        padding: 5px;
        color: $colour-cherry;
        border: none;
        box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.53);
        margin-bottom: 15px;
        scrollbar-arrow-color: $colour-cherry;
    }

    &__button {
        display: flex;
        justify-content: center;
    }

}

.button {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 1px;
    transition-duration: .5s;
    box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.53);

    &:enabled:hover {
        cursor: pointer;
        background-color: $colour-cherry;
        color: $colour-form;
    }
}

/* ---- Analysis Section ---- */

.result {
    font-size: 25px;
    color: $colour-cherry;
    font-weight: bold;
}
